@charset "utf-8";
/*  FAO: Food and Agriculture Organization of the United Nations, for a world without hunger
	Núcleo de Capacitación en Políticas Públicas
	This website is powered by Moodle
	Extensions are copyright of their respective owners.
	Information and contribution at https://moodle.org/ 
*/
.etiqueta-modulo {
  color: #FFFFFF;
  font-size: 16px;
  background-color: #0e5a91;
  margin-right: 6px;
  padding: 6px;
  margin-top: -20px;
}
.etiqueta-unidad {
  color: #FFFFFF;
  background-color: #0e5a91;
  font-size: 15px;
  margin-right: 6px;
  padding: 6px;
}
.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 10px;
  position: relative;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-caja-inicio {
  text-align: left !important;
  font-size: 0.9em;
}
.foto_izquierda {
  float: left;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.foto_derecha {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.foto_centro {
  display: block;
  margin: auto;
}
.foto_izq_fuera {
  float: left;
  margin-top: -20px;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: -40px;
}
.foto_der_fuera {
  float: right;
  margin-top: -20px;
  margin-right: -40px;
  margin-bottom: 6px;
  margin-left: 10px;
}
.marco {
  padding: 5px;
  border: solid 1px #fff;
}
#ref {
  padding: 0px;
  float: right;
  height: 22px;
  width: 103px;
  margin-top: 6px;
  margin-right: 0px;
  margin-bottom: -6px;
  margin-left: 0px;
}
#ref a:link, #ref a:visited {
  background-image: url(../img/img_gen/referencias.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 22px;
  width: 103px;
}
#ref a:hover {
  margin-top: 2px;
}
/*omar*/
.rotar_derecha {
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
}
.rotar_izquierda {
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);
}
.alert-success h3, .alert-danger h3, .alert-warning h3, .alert-info h3 {
  color: inherit;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-danger {
  border-left-color: #ce4844
}
.bs-callout-danger h4 {
  color: #ce4844
}
.bs-callout-warning {
  border-left-color: #aa6708
}
.bs-callout-warning h4 {
  color: #aa6708
}
.bs-callout-info {
  border-left-color: #1b809e
}
.bs-callout-info h4 {
  color: #1b809e
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.5em;
}
.label-unidad {
  background-color: #5d727d;
}
.label-unidad[href]:hover, .label-unidad[href]:focus {
  background-color: #76878f;
}
.badge {
  background-color: #51a5b4;
}
.shadow {
  -webkit-box-shadow: 0px 12px 30px -10px rgba(8, 55, 90, 1);
  -moz-box-shadow: 0px 12px 30px -10px rgba(8, 55, 90, 1);
  box-shadow: 0px 12px 30px -10px rgba(8, 55, 90, 1);
}
.verticalLine {
  border-right-width: thin;
  border-right-style: dotted;
  border-right-color: #999;
  padding-right: 20px;
}
.verticalLineLeft {
  border-left-width: thin;
  border-left-style: dotted;
  border-left-color: #999;
  padding-left: 20px;
}
.verticalLineTwo {
  border-right-width: thin;
  border-right-style: dotted;
  border-right-color: #999;
  padding-right: 10px;
  padding-left: 10px;
  border-left-width: thin;
  border-left-style: dotted;
  border-left-color: #999;
}
.caja {
  margin: 0px 14px 14px 14px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 0px 0px 10px 10px;
  border-top: 6px solid #116aab;
}
.caja1 {
  margin: 0px 10px 10px 10px;
  padding: 12px;
  background-color: #FFF;
  border-radius: 0px 0px 10px 10px;
  border-top: 6px solid #116aab;
}
.text_destacado {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #003366;
  text-align: left;
  font-style: normal;
  line-height: 1.1em;
  padding: 4px;
  text-shadow: #666666 0.01em 0.01em 0.1em;
}
.clip {
  float: right;
  margin-top: -43px;
  margin-left: 10px;
  z-index: 100;
}
.popover {
  min-width: 260px;
  background-color: #fff;
  -webkit-box-shadow: 0px 12px 30px -10px rgba(8, 55, 90, 1);
  -moz-box-shadow: 0px 12px 30px -10px rgba(8, 55, 90, 1);
  box-shadow: 0px 12px 30px -10px rgba(8, 55, 90, 1);
}
/* Unidad 3 */
.linea {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
}
.texto_sobre_foto {
  color: #FFF;
  text-shadow: #231b1b 0.02em 0.02em 0.2em;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* Unidad 3 */
#rotargear {
  -webkit-animation: rotation 16s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* 5 columnas */
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/* 5 columnas */
/* inicio backgrounds*/
.back_mapa1 {
  background-image: url("../img/img_un/mapa1.png");
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 446px;
}
.back_graficos {
  background-image: url("../img/img_un/back-graficos.png");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 444px;
}
.back_separador {
  background-image: url("../img/img_un/separador.png");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 462px;
}
.back_pregunta {
  background-image: url("../img/img_gen/back-pregunta.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.back_engranajes {
  background-image: url("../img/img_un/back-engranajes.png");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 375px;
}
.back_engranajes-2 {
  background-image: url("../img/img_un/back-engranajes-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 375px;
}
.back_ampolletas {
  background-image: url("../img/img_un/back-ampolletas.png");
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 419px;
}
.back_mundo {
  background-image: url("../img/img_un/u2_back-mundo.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.back_estrellas {
  background-image: url("../img/img_un/back-estrellas.png");
  background-repeat: no-repeat;
  background-position: right center;
}
/* fin backgrounds*/
.centrar {
  margin: 0 auto;
  width: 200px;
}
.separador_pregunta {
  border-top: dotted;
  border-color: #999999;
  border-width: 1px;
  margin-top: 20px;
  padding-top: 10px;
  background: rgb(240, 246, 251);
  background: -moz-linear-gradient(180deg, rgba(240, 246, 251, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(240, 246, 251, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(240, 246, 251, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f6fb", endColorstr="#ffffff", GradientType=1);
}
#rotargear {
  -webkit-animation: rotation 8s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
#rotargear2 {
  -webkit-animation: rotation2 8s infinite linear;
}
@-webkit-keyframes rotation2 {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
#rotar-ods {
  -webkit-animation: rotation 14s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}