<!-- Botones gatilladores de los modales -->

<div class="alert alert-info" style="background-image: linear-gradient(to bottom, #5b92e5, #4f82cf); border-color: #c3deec; border-radius: 5px;margin-top: 20px;">
    <ul class="nav botonera-curso" style="justify-content:space-around">
        <li class="nav-item" style="text-align:center;">
            <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#cartaBienvenida">
                <i class="fa fa-envelope"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="">Carta de bienvenida</p>
        </li>
        <li class="nav-item" style="text-align:center;">
            <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#objetivos">
                <i class="fa fa-check"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="">Objetivos</p>
        </li>
        <!-- <li class="nav-item" style="text-align:center;">
            <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#equipo">
                <i class="fa fa-users"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="">Equipo Técnico</p>
        </li> -->
        <!-- <li class="nav-item" style="text-align:center;">
            <a href="https://capacitacion.fao.org/mod/glossary/view.php?id=203&amp;mode=letter&amp;hook=ALL&amp;sortkey&amp;sortorder=asc&amp;fullsearch=0&amp;page=-1" target="_blank">
                <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal">
                <i class="fa fa-book"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="width: 7rem;">Glosario</p>
            </a>

        </li> -->
        <li class="nav-item" style="text-align:center;">
            <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#metodologia">
                <i class="fa fa-file-text"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="">Metodología</p>
        </li>
        <li class="nav-item" style="text-align:center;">
            <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#contenidos">
                <i class="fa fa-sitemap"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="">Contenidos</p>
        </li>
        <!-- <li class="nav-item" style="text-align:center;">
            <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#calendario">
                <i class="fa fa-calendar"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="width: 7rem;">Calendario</p>
        </li> -->
        <!-- <li class="nav-item" style="text-align:center;">
            <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#politicas">
                <i class="fa fa-university"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="width: 7rem;">Políticas</p>
        </li> -->
        <li class="nav-item" style="text-align:center;">
            <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#evaluacion">
                <i class="fa fa-check-square-o"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="">Evaluación</p>
        </li>
        <li class="nav-item" style="text-align:center;">
            <a href="#" target="_blank">
                <button type="button" class="btn btn-light btn-lg rounded-circle" data-toggle="modal" data-target="#">
                <i class="fa fa-info-circle"></i>
            </button>
            <p class="text-light text-wrap font-weight-normal" style="">Ficha del Curso</p>
            </a>

        </li>
    </ul>
</div>

<!-- FIN Botones gatilladores de los modales -->

<!-- Contenido de los modales -->

<!-- Carta de bienvenida -->
<div class="modal fade" id="cartaBienvenida" tabindex="-1" aria-labelledby="cartaBienvenidaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartaBienvenidaLabel">Carta de bienvenida</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Muy estimadas y estimados participantes:</p>
                <p>Les damos una cordial bienvenida a este curso <strong>"Introducción a inversiones y financiamiento para el desarrollo"</strong>, que es un esfuerzo de la Unidad de Movilización de Recursos e Inversiones de la Oficina Regional de FAO para
                    América Latina y el Caribe.</p>
                <p>El curso en el marco de los ODS, busca crear conciencia sobre la necesidad de contar con innovaciones y nuevos instrumentos de financiamiento para lograr una recuperación con transformación de los sistemas agroalimentarios ante los desafíos
                    impuestos por la COVID-19.</p>
                <p>Esto requiere que los países exploren alternativas, como son los fondos de inversión de impacto o una mayor contribución de parte del sector privado, de tal manera que los proyectos de desarrollo sean sostenibles en el tiempo, resulten
                    económicamente atractivos y tengan repercusiones que puedan medirse. A través de instrumentos financieros que atraigan inversiones privadas y se correspondan con los ODS, es posible imaginar una nueva relación virtuosa que incorpore
                    indicadores de efectividad diferentes.&nbsp;&nbsp;</p>
                <p>Ante esto, en este curso se busca entregar los conceptos básicos de inversiones públicas y privadas que permitan a los equipos de FAO, así como a los mismos gobiernos y socios estratégicos, co-diseñar mecanismos innovadores de financiamiento
                    para el desarrollo. A lo largo del curso se verán conceptos como deuda externa, bonos verdes, inversión de impacto, private equity, entre otros, así como las principales organizaciones e instituciones que participan del ecosistema
                    de inversión con impacto, para finalmente conocer los enfoques y vías impulsadas por organismos de Naciones Unidas y&nbsp; por FAO particularmente.</p>
                <p>Reciban un cordial saludo<br><strong>Equipo coordinador</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Carta de bienvenida -->

<!-- Objetivos -->
<div class="modal fade" id="objetivos" tabindex="-1" aria-labelledby="objetivosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="objetivosLabel">Objetivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <p><strong>Objetivo general</strong></p>
                <p><strong>El curso tiene como propósito:</strong></p>
                <p>Fortalecer las capacidades técnicas de los equipos de FAO y funcionarios públicos de la región para el desarrollo y promoción de iniciativas y proyectos de inversión pública y/o privada, que contribuyan al logro de los objetivos de FAO
                    y la agenda 2030.</p>
                <p><strong>Los participantes al final del curso podrán:</strong></p>
                <p>Contar con conocimientos básicos en conceptos clave de finanzas e inversión públicas, el rol de la inversión privada en el desarrollo, los actores claves y la importancia de movilizar la inversión privada para lograr transformaciones en
                    los sistemas agroalimentarios en el marco de los ODS.</p>
                <p><strong>Objetivos Específicos</strong></p>
                <ul>
                    <li>Generar conocimiento específico sobre definiciones, conceptos, tendencias globales y regionales, e instrumentos para movilizar la inversión.</li>
                    <li>Conocer los lineamientos y marcos estratégicos de Naciones Unidas, para y sobre la movilización de recursos e inversiones para el desarrollo.</li>
                    <li>Conocer y analizar instrumentos y ejemplos prácticos de promoción de inversiones desarrollados y/o impulsados por organismos multilaterales.</li>
                    <li>Desarrollar un pensamiento estratégico para el reconocimiento y promoción de oportunidades, alianzas y sinergias a nivel territorial por vía de inversiones públicas y/o privadas.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Objetivos -->

<!-- Coordinadores -->
<div class="modal fade" id="equipo" tabindex="-1" aria-labelledby="EquipoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="coordinadoresLabel">Equipo Técnico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <p><strong>Equipo FAO Colombia</strong></p>
                <ul>
                    <li>Alan Jorge Bojanic Helbindeng (Representante de la FAO Colombia)</li>
                    <li>Manuela Ángel González (Oficial Nacional de Programas FAO Colombia)</li>
                    <li>Israel Ríos-Castillo (Oficial de Nutrición, Oficina Subregional de la FAO para Mesoamérica)</li>
                    <li>Michela Espinosa Reyes (Especialista Senior Alimentación y Lucha contra la Malnutrición FAO Colombia)</li>
                </ul>
                <p><strong>Autores</strong></p>
                <ul>
                    <li>Santiago Mazo Echeverri (Coordinador proyecto UTF/COL/128/COL FAO Colombia)</li>
                    <li>Olga Niño García (Consultora en Sistemas Agroalimentarios FAO Colombia)</li>
                    <li>María del Pilar Pinto Mora (Consultora en educación alimentaria y nutricional FAO Colombia)</li>
                    <li>Angela Pérez Pachón (Consultora en educación alimentaria y nutricional FAO Colombia)</li>
                    <li>Daniela Idárraga Tunjo (Consultora en pérdidas y desperdicios de alimentos FAO Colombia)</li>
                    <li>Yazmin Aldana Holguín (Consultora en pérdidas y desperdicios de alimentos FAO Colombia)</li>
                </ul>
                <p><strong>Créditos por parte de la Consejería Presidencial para la Niñez y la Adolescencia</strong></p>
                <ul>
                    <li>Dalys Cecilia Silgado Cabrales (Asesora de la Consejería Presidencial para la Niñez y la Adolescencia – Supervisora para el Convenio UTF/COL/128/COL</li>
                    <li>Gerson Vásquez Vergara (Contratista, Consejería Presidencial para la Niñez y la Adolescencia)</li>
                </ul>
                <p><strong>Diseño y desarrollo</strong></p>
                <ul>
                    <li>Núcleo de Capacitación en Políticas Públicas<br><a href="mailto:RLC-Nucleo@fao.org">RLC-Nucleo@fao.org</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Coordinadores -->

<!-- Tutores -->
<!-- <div class="modal fade" id="tutores" tabindex="-1" aria-labelledby="tutoresLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tutoresLabel">Tutores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <h3>Por definir</h3>
                <p>Por definir</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> -->
<!-- FIN Tutores -->

<!-- Metodología -->
<div class="modal fade" id="metodologia" tabindex="-1" aria-labelledby="metodologiaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="metodologiaLabel">Metodología</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Este curso se desarrolla a través del autoaprendizaje, siendo responsabilidad de cada participante la construcción de su propio conocimiento. Está estructurado en tres unidades técnico-pedagógicas para su exploración secuencial, es decir,
                    una vez que se ha revisado completamente una unidad es posible acceder a la siguiente.</p>
                <p>Cada unidad describe una temática diferenciada en sus contenidos y actividades, no obstante, en su conjunto determinan el logro del objetivo de aprendizaje. A través del curso el participante tendrá la oportunidad de revisar conceptos,
                    conocer y reforzar procedimientos y aplicar criterios. Las unidades técnico-pedagógicas están vinculadas a fortalecer las capacidades técnicas de los equipos de FAO y funcionarios públicos de la región para el desarrollo y promoción
                    de iniciativas y proyectos de inversión pública y/o privada, que contribuyan al logro de los objetivos de FAO y la agenda 2030.</p>
                <p>La metodología considera la aplicación sistemática de diferentes herramientas de aprendizaje y ejercicios de autoevaluación por unidad, que facilitarán la comprensión de los contenidos. La revisión de los contenidos de este curso requiere
                    de una dedicación aproximada de 30 horas cronológicas, lo que puede variar en función de las referencias que quiera revisar, siendo recomendable sostener sesiones de una hora tres veces por semana.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Metodología -->


<!-- Contenidos -->
<div class="modal fade" id="contenidos" tabindex="-1" aria-labelledby="contenidosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contenidosLabel">Contenidos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <p>El curso está compuesto de 3 unidades secuenciales:</p>
                <ul>
                  <li><strong>Unidad 1: Marco conceptual de inversiones<br>
                  </strong>La primera unidad contiene las principales definiciones y teoría de inversión pública y privada. Estas definiciones están acompañadas de algunos ejemplos que permitirán al asistente darse una idea del rol de la inversión pública y privada en el
                  desarrollo y en la transformación de los sistemas agroalimentarios.<br>
                  <br>
                  </li>
                  <li><strong>Unidad 2: </strong><strong>Ecosistema de inversión<br>
                  </strong>La segunda unidad ilustra y desarrolla el ecosistema de inversión donde se identificarán los principales actores, instituciones y experiencias en inversión pública y privada.<br>
                  <br>
                  </li>
                  <li><strong>Unidad 3: Financiamiento para el desarrollo<br>
                  </strong>La tercera unidad desarrolla los contenidos que permiten comprender el alcance y entendimiento de lo que es el financiamiento para el desarrollo según las Naciones Unidas en general y la FAO en particular.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Contenidos -->

<!-- Calendario -->
<div class="modal fade" id="calendario" tabindex="-1" aria-labelledby="calendarioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calendarioLabel">Calendario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <h3>Por definir</h3>
                <p>Por definir</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Calendario -->

<!-- Evaluación -->
<div class="modal fade" id="evaluacion" tabindex="-1" aria-labelledby="evaluacionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="evaluacionLabel">Evaluación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Para aprobar el curso, deberá realizar una evaluación final consistente en un cuestionario sumativo de 20 preguntas que abarcan los contenidos de las 3 unidades, con intentos ilimitados. El porcentaje de logro mínimo para la aprobación
                    será de un 70% en la sumatoria de la mejor evaluación obtenida en los intentos.</p>
                <p>La calificación obtenida se traducirá a la siguiente escala de conceptos de evaluación:</p>
                <ul>
                    <li>Sobresaliente: 90 a 100 puntos</li>
                    <li>Notable: 80 a 89 puntos</li>
                    <li>Aprobado: 70 a 79 puntos</li>
                    <li>Reprobado: 0 a 69 puntos</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Evaluación -->



<!-- Ficha del Curso -->
<div class="modal fade" id="ficha" tabindex="-1" aria-labelledby="fichaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fichaLabel">Ficha del Curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <h3>Por definir</h3>
                <p>Por definir</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Ficha del Curso -->

<!-- FIN Contenido de los modales -->